<header>
      
	<h1 class="site-title">Code Blog</h1>
    
</header>

<nav class="navbar">
    
	<ul class="navlist">
      
		<li class="navitem link"><a href="/">Home</a></li>
      
		<li class="navitem link"><a href="/profile">Profile</a></li>
      
		<li class="navitem right link"><a href="#">Login</a></li>
      
		<li class="navitem right search">
        
			<div class="search-bar">
            
				<input type="text" id="search-text-input"></input>
            
				<button type="button" id="search-button" class="action-button">Search</button>
        
			</div>
      
		</li>
    
	</ul>
  
</nav>

