<span class="post">
                    
	<div class="post-header" value = {{title}}>
                        
		<h3><a href={{link}}>{{title}}</a></h3>

  
		<div class="img-container">
                                    
			<img class="code-img" src={{imgURL}} />
                                
		</div>                  
	</div>
                
</span>