<main class="main-page">
    <div class="title-container">
        <h2>Select codes of project</h2>
    </div>

<!-- Start of project card template -->
    <div class="project-card">
        <div class="project-header">
            <a>CS_290 Assignment_1</a>
            <button type="button" id="0" class="post-expand-button"><i class="fa fa-plus"></i></button>
            <button type="button" id="10" class="hidden post-close-button"><i class="fa fa-minus"></i></button>
        </div>


        <!-- sub posts here, and hide it -->
        <div id="posts-backdrop" class = "posts-backdrop" class="hidden"></div>
        <div id="posts" class="hidden posts">
            <div class="posts-dialog">

            <!-- Start of post template -->
                <span class="post">
                    <div class="post-header">
                        <h3><a href="A1/README.md"> README.md</a></h3>

                    </div>
                </span>
            <!-- End of post template -->

                <span class="post">
                    <div class="post-header">
                        <h3><a href="A1/index.html">index.html</a></h3>

                    </div>
                </span>

                <span class="post">
                    <div class="post-header">
                        <h3><a href="A1/index.html">blog.html</a></h3>

                    </div>
                </span>

            </div>
        </div>
    </div>
<!-- End of project card template -->

    <div class="project-card">
        <div class="project-header">
            <a>CS_290 Assignment_2</a>
            <button type="button" id="1" class="post-expand-button"><i class="fa fa-plus"></i></button>
            <button type="button" id="11" class="hidden post-close-button"><i class="fa fa-minus"></i></button>
        </div>

        <div id="posts-backdrop" class = "posts-backdrop" class="hidden"></div>
        <div id="posts" class="hidden posts">
            <div class="posts-dialog">

                <span class="post">
                    <div class="post-header">
                        <h3><a href="A2/README.md">README.md</a></h3>

                    </div>
                </span>

                <span class="post">
                    <div class="post-header">
                        <h3><a href="A2/index.html">index.html</a></h3>

                    </div>
                </span>

                <span class="post">
                    <div class="post-header">
                        <h3><a href="A2/style.css">style.css</a></h3>

                    </div>
                </span>

            </div>
        </div>

    </div>

    <div class="project-card">
        <div class="project-header">
            <a>CS_290 Assignment_3</a>
            <button type="button" id="2" class="post-expand-button"><i class="fa fa-plus"></i></button>
            <button type="button" id="12" class="hidden post-close-button"><i class="fa fa-minus"></i></button>
        </div>

        <div id="posts-backdrop3" class = "posts-backdrop" class="hidden"></div>
        <div id="posts3" class="hidden posts">
            <div class="posts-dialog">

                <span class="post">
                    <div class="post-header">
                        <h3><a href="A3/README.md"> README.md</a></h3>

                    </div>
                </span>

                <span class="post">
                    <div class="post-header">
                        <h3><a href="A3/index.html">index.html</a></h3>

                    </div>
                </span>

                <span class="post">
                    <div class="post-header">
                        <h3><a href="A3/style.css">style.css</a></h3>

                    </div>
                </span>

                <span class="post">
                    <div class="post-header">
                        <h3><a href="A3/index.js">index.js</a></h3>

                    </div>
                </span>

            </div>
        </div>
    </div>

</main>

<!-- Search bar and new post button-->

<!--
<div class="search-bar">
    <input type="search" id="search-text-input"></input>
    <button type="button" id="search-button" class="action-button">Search</button>
</div>
-->

<button type="button" id="add-new-post"><i class="fa fa-plus"></i></button>



<!-- New post modal(hidden)-->
<div id="modal-backdrop" class="hidden"></div>
<div id="new-post-modal" class="hidden">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Post a New Code</h3>
                <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
            </div>
            <div class="create-input-container">
                <label for="create-project">Project Name</label>
                <select id="create-project" class="create-input" name="create-project">
                    <option selected value="">Type new project name</option>
                    <option>CS_290 Assignment_1</option>
                    <option>CS_290 Assignment_2</option>
                    <option>CS_290 Assignment_3</option>
                </select>
            </div>

            <div class="create-input-container">
                <label for="create-codename" class="create-input-label">Code Name</label>
                <input type="text" name="create-codename" id="create-codename" class="create-codename">
            </div>

            <div class="create-input-container">
                <label for="create-code" class="create-input-label">Code</label>
                <input type="text" name="create-code" id="create-code" class="create-code">
            </div>

            <div class="modal-footer">
                <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
                <button type="button" id="modal-accept" class="action-button">Create Post</button>
            </div>
        </div>
    </div>
</div>
