<body>

    
	<header>
      
		<h1 class="site-title">Code Blog</h1>
    
	</header>


  
	{{> navbar}}   
 
	<main class="main-page">
    
		<div class="title-container">
        
			<h2>Select codes of project</h2>
    
		</div>
   
		{{#each projects}}     
			{{> projectCard}} 
		{{/each}}      

	</main>



	

	{{> modal}}
</body>


