<body>

  {{> header}}

  <main class = "post-pagr">

    <div class = "title-container">
      <h2>{{title}}: {{name}}</h2>
    </div>


    <img class="post-img" src="{{url}}" alt = "{{name}}" height=100% width=100%>


</body>
