{{> header}}

<main class="main-profile">
            
	<div class="title-container">
                
		<h2>CS290 Final Project Group 13</h2>
            
	</div>

    
<!-- Start of project card template -->
            
	<div class="project-card">
                
		<div class="project-header">
                    
			<a>Developers</a>
                
		</div>


                <!-- sub posts here, and hide it -->
                
		<div id="posts-backdrop"></div>
                
		<div id="posts">
                    
			<div class="posts-dialog">

                        
				<span class="post profile">
                            
					<div class="post-header profile">
                                
						<h3>
							<a href="http://web.engr.oregonstate.edu/~leey3/index.html">Youngjoo Lee</a>
						</h3>
                            
					</div>
                        
				</span>
                        
				<span class="post profile">
                            
					<div class="post-header profile">
                                
						<h3>
							<a href="http://web.engr.oregonstate.edu/~deckw/blog.html">Wyatt Deck</a>
						</h3>
                            
					</div>
                        
				</span>

                        
				<span class="post profile">
                            
					<div class="post-header profile">
                                
						<h3>
							<a href="http://people.oregonstate.edu/~fangyin/cs290/index.html">Yingfeng Fang</a>
						</h3>
                            
					</div>
                        
				</span>

                    
			</div>
                
		</div>
            
	</div>
    <!-- End of project card template -->

            
	<div class="project-card">
                
		<div class="project-header">
                    
			<a>Last update date: 29 November, 2018</a>
                
		</div>
            
	</div>

</main>