<main class="main-profile">
            
	<div class="title-container">
                
		<h2>CS290 Final Project Group 13</h2>
            
	</div>

    
<!-- Start of project card template -->
            
	<div class="project-card">
                
		<div class="project-header">
                    
			<a>Developers</a>
                    
			<button type="button" id="expand-post">
				<i class="fa fa-plus"></i>
			</button>
                    
			<button type="button" id="close-post">
				<i class="fa fa-minus"></i>
			</button>
                
		</div>


                <!-- sub posts here, and hide it -->
                
		<div id="posts-backdrop" class="hidden"></div>
                
		<div id="posts" class="hidden">
                    
			<div class="posts-dialog">

                        
				<span class="post">
                            
					<div class="post-header">
                                
						<h3>
							<a href="http://web.engr.oregonstate.edu/~leey3/index.html">Youngjoo Lee</a>
						</h3>
                            
					</div>
                        
				</span>
                        
				<span class="post">
                            
					<div class="post-header">
                                
						<h3>
							<a href="http://web.engr.oregonstate.edu/~deckw/blog.html">Wyatt Deck</a>
						</h3>
                            
					</div>
                        
				</span>

                        
				<span class="post">
                            
					<div class="post-header">
                                
						<h3>
							<a href="http://people.oregonstate.edu/~fangyin/cs290/index.html">Yingfeng Fang</a>
						</h3>
                            
					</div>
                        
				</span>

                    
			</div>
                
		</div>
            
	</div>
    <!-- End of project card template -->

            
	<div class="project-card">
                
		<div class="project-header">
                    
			<a>Last update date: 29 November, 2018</a>
                
		</div>
            
	</div>

</main>